.stats-card {
  display: grid;
  grid-template-rows: auto 1fr;
  /* موبایل: تصویر بالای متن */
  align-items: center;
  /* ⬅️ این خط باعث میشه متن وسط تصویر تراز بشه */
  max-width: 900px;
  width: 100%;
  background-color: var(--clr-card-bg);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 0;
    max-height: 100dvh; /* 👈 تا از صفحه بیرون نزنه */
  overflow: visible;  /* 👈 جلوی اسکرول داخلی رو هم می‌گیره */
}

.stats-card--shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.25);
}

.stats-card__illustration {
  position: relative;
  display: inline-block
}

.stats-card__illustration::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(170, 92, 219, 0.5);
}

/* تصویر واکنش‌گرا */
.stats-card__illustration picture,
.stats-card__illustration img {
  width: 100%;
 
  display: block;
  object-fit: cover;
}

/* محتوای کارت */
.stats-card__content {
  padding: clamp(2rem, 2vw + 1rem, 3.2rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 2rem);
  text-align: center;
}

/* عنوان و توضیحات */
.stats-card__title {
  font-size: var(--fs-title);
  line-height: 1.3;

}


.stats-card__title1 {
  color: var(--clr-accent);
}

.stats-card__description {
  font-size: var(--fs-body);
  color: var(--clr-white-75);
}

/* بخش اعداد و آیکون‌ها */
.stats-card__numbers {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: var(--space-xs);
}

.stat {
  text-align: center;
}

.stat__icon {
  margin-bottom: var(--space-sm);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stat__value {
  font-size: clamp(2rem, 4vw, 2.4rem);
  color: var(--clr-white);
  font-weight: 700;
}

.stat__label {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: var(--clr-white-60);
}

/* Desktop: تصویر کنار متن */
@media (min-width: 600px) {
  .stats-card {
    grid-template-columns: 1fr 1fr;
    /* تصویر سمت چپ، محتوا سمت راست */
    grid-template-rows: none;
    direction: rtl;
    /* ⬅️ اضافه کن */
  }

  .stats-card__illustration img,
  .stats-card__illustration picture {
    height: 100%;

  }

  .stats-card__content {
    justify-content: center;
    padding: clamp(3rem, 5vw, 5rem);
    direction: ltr;
    /* ⬅️ متن دوباره چپ‌چین بشه */
    text-align: start;
  }

  .stats-card__numbers {
    flex-direction: row;
  }

}
@media (max-width: 600px) {
  .stats-card__content {
    padding: 1.5rem;
  }
  .stats-card__title {
    font-size: 1.8rem;
  }
  .stats-card__description {
    font-size: 1.3rem;
  }
}
.stat {
  flex: 1;
}

